<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-4">
  <div class="container">
    <%= link_to 'SpotShare', root_path, class: 'navbar-brand' %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
          <!-- Should only be seen if logged in-->
          <% if logged_in? %>
            <li class="nav-item"><%= link_to 'Users', "/users", class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'Playlists', "/playlists", class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'Log Out', '/logout', method: :delete, class: 'nav-link' %></li>
          <!-- Should only be seen if NOT logged in -->
          <% else %>
            <li class="nav-item"><%= link_to 'Sign Up', "/users/new", class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'Log In', '/login', class: 'nav-link' %></li>
          <% end %>
      </ul>
    </div>
  </div>
</nav>
